AQ1

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\plane\Home\Desktop\ML_Project\week4\gold_price.csv")
df.head()

   year   price
0  1964   63.25
1  1965   71.75
2  1966   83.75
3  1967  102.50
4  1968  162.00

In [4]:
n=len(df)
x_sum=np.sum(df['year'])
x_sq_sum=np.sum(df['year']**2)

y_sum=np.sum(df['price'])
xy_sum=np.sum(df['price']*df['year'])

In [5]:
matA=np.array(([n,x_sum],
               [x_sum,x_sq_sum]))

matB=np.array(([y_sum],
               [xy_sum]))

coeffs=np.linalg.inv(matA)@matB

coeffs

array([[-1.31290490e+06],
       [ 6.63798758e+02]])

In [6]:
b0,b1=coeffs

In [13]:
df['slr_pred']=b0+(b1*df['year'])
df[['slr_pred','price']]

        slr_pred     price
0   -9204.144424     63.25
1   -8540.345666     71.75
2   -7876.546909     83.75
3   -7212.748151    102.50
4   -6548.949393    162.00
5   -5885.150636    176.00
6   -5221.351878    184.00
7   -4557.553120    193.00
8   -3893.754362    202.00
9   -3229.955605    278.50
10  -2566.156847    506.00
11  -1902.358089    540.00
12  -1238.559332    432.00
13   -574.760574    486.00
14     89.038184    685.00
15    752.836941    937.00
16   1416.635699   1330.00
17   2080.434457   1670.00
18   2744.233215   1645.00
19   3408.031972   1800.00
20   4071.830730   1970.00
21   4735.629488   2130.00
22   5399.428245   2140.00
23   6063.227003   2570.00
24   6727.025761   3130.00
25   7390.824518   3140.00
26   8054.623276   3200.00
27   8718.422034   3466.00
28   9382.220791   4334.00
29  10046.019549   4140.00
30  10709.818307   4598.00
31  11373.617065   4680.00
32  12037.415822   5160.00
33  12701.214580   4725.00
34  13365.013338   4045.00
35  14028.812095   4234.00
36  14692.610853   4400.00
37  15356.409611   4300.00
38  16020.208368   4990.00
39  16684.007126   5600.00
40  17347.805884   5850.00
41  18011.604642   7000.00
42  19339.202157  10800.00
43  20003.000915  12500.00
44  20666.799672  14500.00
45  21330.598430  18500.00
46  21994.397188  26400.00
47  22658.195945  31050.00
48  23321.994703  29600.00
49  23985.793461  28006.50
50  24649.592218  26343.50
51  25313.390976  28623.50
52  25977.189734  29667.50
53  26640.988492  31438.00
54  27304.787249  35220.00
55  27968.586007  48651.00
56  28632.384765  48720.00
57  29296.183522  52670.00

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model=LinearRegression()

X=df[['year']]
y=df['price']

model.fit(X,y)

print(model.intercept_)
print(model.coef_)

-1312904.9045402678
[663.7987577]

In [16]:
print(b0)
print(b1)

[-1312904.90453926]
[663.7987577]

In [17]:
mse=np.sum((df['slr_pred']-df['price'])**2)/n
print(mse)
rmse=mse**0.5
print(rmse)

61262686.378940694
7827.048382304833

AQ3
y=b0+b1x+b2x^2

In [19]:
n=len(df)
x_sum=np.sum(df['year'])
x_2_sum=np.sum((df['year'])**2)
x_3_sum=np.sum((df['year'])**3)
x_4_sum=np.sum((df['year'])**4)

y_sum=np.sum((df['price']))
xy_sum=np.sum((df['year']*df['price']))
x2y_sum=np.sum((df['year']**2)*(df['price']))

In [20]:
matA=np.array(([n,x_sum,x_2_sum],
               [x_sum,x_2_sum,x_3_sum],
               [x_2_sum,x_3_sum,x_4_sum]))

matB=np.array(([y_sum],
               [xy_sum],
               [x2y_sum]))

coeffs=np.linalg.inv(matA)@matB
coeffs

array([[ 1.01696650e+08],
       [-1.02712709e+05],
       [ 2.59342843e+01]])

In [21]:
b0,b1,b2=coeffs

df['pr_pred']=b0+(b1*df['year'])+(b2*(df['year']**2))
df[['price','slr_pred','pr_pred']]

       price      slr_pred       pr_pred
0      63.25  -9204.144424   5102.041215
1      71.75  -8540.345666   4285.135785
2      83.75  -7876.546909   3520.098924
3     102.50  -7212.748151   2806.930631
4     162.00  -6548.949393   2145.630907
5     176.00  -5885.150636   1536.199751
6     184.00  -5221.351878    978.637165
7     193.00  -4557.553120    472.943147
8     202.00  -3893.754362     19.117697
9     278.50  -3229.955605   -382.839184
10    506.00  -2566.156847   -732.927496
11    540.00  -1902.358089  -1031.147239
12    432.00  -1238.559332  -1277.498414
13    486.00   -574.760574  -1471.981020
14    685.00     89.038184  -1614.595058
15    937.00    752.836941  -1705.340527
16   1330.00   1416.635699  -1744.217427
17   1670.00   2080.434457  -1731.225758
18   1645.00   2744.233215  -1666.365521
19   1800.00   3408.031972  -1549.636715
20   1970.00   4071.830730  -1381.039341
21   2130.00   4735.629488  -1160.573398
22   2140.00   5399.428245   -888.238886
23   2570.00   6063.227003   -564.035806
24   3130.00   6727.025761   -187.964157
25   3140.00   7390.824518    239.976061
26   3200.00   8054.623276    719.784847
27   3466.00   8718.422034   1251.462203
28   4334.00   9382.220791   1835.008126
29   4140.00  10046.019549   2470.422619
30   4598.00  10709.818307   3157.705680
31   4680.00  11373.617065   3896.857309
32   5160.00  12037.415822   4687.877508
33   4725.00  12701.214580   5530.766275
34   4045.00  13365.013338   6425.523610
35   4234.00  14028.812095   7372.149514
36   4400.00  14692.610853   8370.643987
37   4300.00  15356.409611   9421.007029
38   4990.00  16020.208368  10523.238639
39   5600.00  16684.007126  11677.338818
40   5850.00  17347.805884  12883.307566
41   7000.00  18011.604642  14141.144882
42  10800.00  19339.202157  16812.425220
43  12500.00  20003.000915  18225.868243
44  14500.00  20666.799672  19691.179834
45  18500.00  21330.598430  21208.359993
46  26400.00  21994.397188  22777.408721
47  31050.00  22658.195945  24398.326018
48  29600.00  23321.994703  26071.111884
49  28006.50  23985.793461  27795.766318
50  26343.50  24649.592218  29572.289321
51  28623.50  25313.390976  31400.680892
52  29667.50  25977.189734  33280.941032
53  31438.00  26640.988492  35213.069741
54  35220.00  27304.787249  37197.067018
55  48651.00  27968.586007  39232.932864
56  48720.00  28632.384765  41320.667279
57  52670.00  29296.183522  43460.270263

In [22]:
from sklearn.preprocessing import PolynomialFeatures

In [26]:
poly=PolynomialFeatures(degree=2)
X_poly=poly.fit_transform(X)

model_poly=LinearRegression()

model_poly.fit(X_poly,y)

print(model_poly.intercept_)
print(model_poly.coef_)

101696649.6609632
[ 0.00000000e+00 -1.02712708e+05  2.59342841e+01]

AQ4

In [27]:
df=pd.read_csv(r"C:\Users\plane\Home\Desktop\ML_Project\week4\mlr_dataset\multiple_linear_regression_dataset.csv")
df.head()

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830

In [28]:
len(df)

20

In [29]:
n=len(df)
x1_sum=np.sum(df['age'])
x2_sum=np.sum(df['experience'])
x1_2_sum=np.sum(df['age']**2)
x1x2_sum=np.sum(df['age']*df['experience'])
x2_2_sum=np.sum(df['experience']**2)

y_sum=np.sum(df['income'])
x1y_sum=np.sum(df['age']*df['income'])
x2y_sum=np.sum(df['experience']*df['income'])

matA=np.array(([n,x1_sum,x2_sum],
               [x1_sum,x1_2_sum,x1x2_sum],
               [x2_sum,x1x2_sum,x2_2_sum]))

matB=np.array(([y_sum],
               [x1y_sum],
               [x2y_sum]))

coeffs=np.linalg.inv(matA)@matB
coeffs

array([[31261.6898541 ],
       [  -99.19535546],
       [ 2162.40419192]])

In [30]:
b0,b1,b2=coeffs

df['mlr_pred']=b0+(b1*df['age'])+(b2*df['experience'])
df[['mlr_pred','income']]

        mlr_pred  income
0   30944.210159   30450
1   34773.041766   35670
2   30924.316531   31580
3   38899.459439   40130
4   48620.331489   47830
5   41339.556069   41630
6   39296.240861   41340
7   36637.859892   37650
8   38403.482662   40250
9   44692.304527   45150
10  30547.428738   27840
11  46061.145875   46110
12  36717.161619   36720
13  34852.343493   34800
14  52845.944517   51300
15  40169.105432   38900
16  62269.230500   63600
17  31142.600870   30870
18  46358.731941   44190
19  49215.503621   48700

In [31]:
X=df[['age','experience']]
y=df['income']

model_mlr=LinearRegression()

model_mlr.fit(X,y)

print(model_mlr.intercept_)
print(model_mlr.coef_)

31261.689854101285
[ -99.19535546 2162.40419192]